html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
}

header {
      width: 100%;
      height: 100vh;
      background: url(assets/images/band.jpg) no-repeat 50% 50%;
      background-size: cover;
}
/* ----------------------------------------Nav*/

.navbar {
  text-decoration: none;

  position:fixed;
  z-index: 1;
  width: :100%

}
nav {
      position: fixed;
      width: 100%;
      line-height: 40px;
}
nav ul {
      line-height: 20px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}
/* ----------------------------------------Nav collapse */
@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}
/* ----------------------------------------Smooth scroll*/

html {
  scroll-behavior: smooth;
}

/* ----------------------------------------video player */
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ----------------------------------------Parallax effect */

body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.pimg1 {
  background-image: url('images/band.jpg');
  min-height: 100%;
}

.pimg2 {
  background-image: url('images/photos.jpg');
  min-height: 400px;
}

.pimg3 {
  background-image: url('images/audio.jpg');
  min-height: 400px;
}

.pimg4 {
  background-image: url('images/videos.jpg');
  min-height: 400px;
}

.pimg1 bookings {
  background-image: url('images/band.jpg');
  min-height: 100%;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 18px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext .border.trans {
  background-color: transparent;
}

.border .trans .dark {
  color: black;
}

@media(max-width:768px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
}


/* ----------------------------------------Footer */

footer {
  background-color: #1E1E1B;
  color: #fafafa;
  min-height: 120px;
  margin: 0;
}

.social-links {
  padding-bottom: 20px;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: #8f8f8f;
  display: inline-block;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #e84610;
}

#footer-details {
  padding: 20px;
}

.container-fluid {
  padding-top: 15px;
  padding-bottom: 15px;
}
